/* import file */
@import url(css/font-awesome.min.css);

.container-start {
    margin-top: 150px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.rayhan-ukuranlogo-R {
    position: relative;
    right: -32px;
    width: 70px;
    height: auto;
}

.rayhan-ukuranlogo-Z {
    position: relative;
    right: -2px;
    width: 40px;
    top: 7px;
}

.rayhan-area img{
    position: relative;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.rayhan-area {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* home */
.rayhan-home {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background: url("bgbl.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.rayhan-home .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000 10%, transparent);
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* Header */
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
    font-size: 17px;
    color: #ffffff;
    margin: 0px 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #1d1d1d;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.serach_icon{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
}

.serach_icon a{
    color: #ffffff;
}

.serach_icon a:hover{
    color: #1d1d1d;
}

/* banner section start */
.rayhan-banner-depanbg {
    position: absolute;
    top: 100;
}

/* .container {
    margin-top: 150px;
} */

.banner_taital {
    width: 100%;;
    font-size: 50px;
    color: #e3eeee;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
}

.banner_text {
    width: 80%;
    float: left;
    font-size: 16px;
    color: #e3eeee;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.contact_bt {
    width: 175px;
    float: left;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #f9110c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.contact_bt a:hover {
    color: #fcf8f8;
    background-color: #1d1d1d;
}

.contact_bt.active a {
    color: #fcf8f8;
    background-color: #1d1d1d;
    margin-left: 10px;
}

#banner_slider a.carousel-control-prev {
    left: -120px;
    top: 150px;
    right: initial;
}

#banner_slider a.carousel-control-next {
    right: initial;
    top: 150px;
    right: -120px;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 30px;
}
/* banner section end */
/* about section start */
.about_img img {
    height: 100vh;
}

.about_section {
    width: 100%;
    padding: 0px 0px;
    background: linear-gradient(to bottom, black 45%, transparent);
    height: 100vh;
}

.about_taital_main {
    width: 100%;
    float: left;
    padding-left: 100px;
    padding-top: 105px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: #fefefd;
}

.about_text {
    width: 80%;
    float: left;
    font-size: 14px;
    color: #fefefd;
    margin-left: 0px;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-top: 20px;
}

.readmore_bt a {
    border-radius: 20px;
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    background-color: #272727;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.readmore_bt a:hover {
    color: #000;
    scale: 1.06;
    text-decoration: none;
    transition: 400ms;
    background-color: #ffffff;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
}

.padding_right0{
    padding-right: 0px;
}

/* about section end */
/* services section start */
.rayhan-section-3 {
    max-width: 100%;
    height: 100vh;
    background: url("bg-section3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.rayhan-section-3 .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff 5%, transparent);
}

.services_section {
    width: 100%;
    float: left;
}

.services_taital {
    margin-top: 110px;
    width: 100%;
    float: left;
    font-size: 40px;
    color: #363636;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.services_section_2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.color_bt {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.color_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #191919;
    text-align: center;
    background-color: #a6a0a0;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.color_bt a:hover {
    color: #fefefd;
    background-color: #2c2c2c;
    text-decoration: none;
}

.color_bt .active a {
    color: #fefefd;
    background-color: #2c2c2c;
    text-decoration: none;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefd;
    text-align: center;
    background-color: #363636;
    padding: 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.read_bt a:hover {
    color: #fefefd;
    background-color: #000000;
    text-decoration: none;
    scale: 1.06;
    transition: 400ms;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
}

/* gallery section end */
/* blog section start */
.rayhan-section-event {
    max-width: 100%;
    height: 115vh;
    background: url("bl-4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.rayhan-section-event .overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #6B6B6B 3%, transparent);
}

.blog_section{
    width: 100%;
    float: left;
}

.blog_taital{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    font-size: 40px;
    color: #242424;
    font-weight: bold;
    text-align: center;
}

.card {
    max-width: 100%;
    padding: 1em;
    background-color: #ffffff;
}

.date_text {
    width: 100px;
    float: left;
    color: #fefefd;
    font-size: 18px;
    padding: 20px;
    background-color: #a8cb26;
    text-align: center;
    position: absolute;
    top: 0px;
}
.safety_text{
    width: 100%;
    float: left;
    color: #242424;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.ipsum_text {
    width: 100%;
    float: left;
    color: #242424;
    font-size: 16px;
    margin: 0px;
}

.read_bt1 {
    width: 170px;
    float: left;
    margin-top: 20px;
}

.read_bt1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    padding: 12px 0px;
    background-color: #f9110c;

}

.read_bt1 a:hover {
    color: #fefefd;
    background-color: #363636;
}

/* blog section end */
/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #363636;
    font-weight: bold;
    text-align: center;
}

.contact_taital2 {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #363636;
    font-weight: bold;
    text-align: center;
}

.contact_section_2 {
    width: 100%;
    float: left;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 60%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2a2a2c;
    border: 0px;
    background-color: #ffffff;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #363636;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2a2a2c;
}

.massage-bt {
    color: #2a2a2c;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #363636;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2a2a2c;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #fe2929;
    padding: 12px;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.send_bt a:hover {
    color: #363636;
    background-color: #ffffff;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


/* contact section end */
/* copyright section start */

.copyright_section {
    width: 100%;
    height: 10vh;
    float: left;
    background-color: #363636;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}


/* copyright section end */

